body {
    max-width: 600px;
    margin: 0 auto;
}

#title {
    background-color: beige;
    border-radius: 5px;
    height: 150px;
    width: 600px;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(135, 131, 74);
}

#title p{
    font-size: 25px;
    font-weight: bold;
}

#navigation {
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    padding: 20px;
}

.link {
    display: inline-block;
    color: rgb(79, 79, 79);   
    font-size: 20px;
    padding: 10px;
    text-decoration: underline dotted;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

h2 {
    font-size: 17px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
    padding: 20px;
}

#portrait { 
    height: 300px;
    width: 300px;
    background-image: url(chewbacca.png);
    background-size: cover;
    border-radius: 50%;
    margin: 0 auto;
    border: solid 1px black;
    border-bottom: solid 5px black;
}

#text {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

#text h1 {
    text-align: left;
    font-size: 17px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#text p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
}